.custom-background {
    background-image: url("../public/HeroImage2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.custom-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.6;
    z-index: 1;
}

body {
    background-color: #F4F2EE;
}

.btn-experience:hover {
    background-color: #F3F3F3 !important;
    cursor: pointer;
}

.recipe-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 3/4;
    background-image: var(--url)
}

.recipe-background:hover {
    background-size: 250%;
    cursor: pointer;
}

.like-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.custom-z {
    z-index: 3000;
}

.ingredient-btn {
    border-color: lightgray;
    border-style: solid;
}

.ingredient-btn:hover {
    border-color: gray;
}

.ingredient-btn-selected {
    border-color: rgb(240, 84, 84);
    border-style: solid;
}

.add-btn:hover {
    color: #000 !important;
}